# Copyright 2022-2024 Roman Ondráček <mail@romanondracek.cz>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

services:
	- App\ApiModule\Controllers\Version1\Account\ProfileController
	- App\ApiModule\Controllers\Version1\Account\TotpController
	- App\ApiModule\Controllers\Version1\Account\VerificationController
	- App\ApiModule\Controllers\Version1\Authentication\PasswordController
	- App\ApiModule\Controllers\Version1\Authentication\SignController
	- App\ApiModule\Controllers\Version1\Authentication\TokenController
	- App\ApiModule\Controllers\Version1\DeviceController
	- App\ApiModule\Controllers\Version1\OpenApiController
	- App\ApiModule\Controllers\Version1\UsersController
	apiJsonSchemaValidator:
		factory: App\ApiModule\Models\JsonSchemaValidator
		autowired: self
	- App\ApiModule\Models\BearerAuthenticator
	- App\ApiModule\Models\JwtConfigurator
	- App\ApiModule\Models\OpenApiSchemaBuilder
	restApiSchemaManager:
		factory: App\ApiModule\Models\RestApiSchemaValidator
		autowired: self
